

ul li {
    font-family: arial;
}

.admin a.edit-place{
    font-size: 12px;
}

.map-list li {

    display: inline-block;
    width: 30%;
    height: 70px;
    padding: 0 0 14px 0;
    background-image: none;

    border-top: 1px solid rgb(204, 204, 204);

}
.li-content{
    height: 70%;
    vertical-align: text-top;
    cursor: pointer;
}
.li-content p{
    margin-top: -5px;
    height: 30px;
}
.li-content h2{
    margin-bottom: 5px;
}
.li-block {
    height: 100px;
    overflow: hidden;
    padding: 0 22% 0 0;
}

.li-block .num {
    float: left;
    width: 15px;
    overflow: hidden;
    color: #aaa;
    font-size: 10px;
    height: 100%;
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}

.li-block .li-content h2 {
    padding: 0 0 6px 0;
    font-size: 13px;
    color: #2d6633;
}

.li-block .li-content h2 a {
    color: #2d6633;
    //border-bottom: 1px solid #bfe5ff;
    word-wrap: break-word;
    white-space: pre;
}

.li-content span{
    font-size:13px;
    width: 100%;
}

#logo-image{
    background-image: url("../img/logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 50px;
    height: 60px;
    float: left;
    margin-right: 15px;
}

#logo-block{
    margin: 10px 35px;
    height: 80px;
}


.title{
    top:15px;
    position: relative;
    font-family:Arial;
    font-size:16px;
    font-weight: bold;
}


#lang{
    float: right;
    position: relative;
    top:-5em;
    margin-right: 30px;
}

#page-map{
    margin-left: 3em;
}

span.search-text { 
    color: rgb(84, 124, 46);
    text-decoration: underline;
    background-color: rgba(146, 214, 153, 0.35);
}
